.primero{
  background: #E2E2E2;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.be{
  background: #FFF0AC;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OMEGA{
  background: #D1EAFF;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.queso{
  background: #E2E2E2;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
